<h1>Emergency Kit Details</h1>
<p><strong>Owner Name:</strong> <%= @emergency_kit.owner.name %></p>
<p><strong>Storage:</strong> <%= @emergency_kit.storage %></p>
<p><strong>Body:</strong> <%= @emergency_kit.body %></p>
